<!DOCTYPE html>
<html>

<head>
    <title>À Propos</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Ce site est crée par Hamza Mekaoui, il utilise des données depuis mapbox.com et darksky.net!</p>
        <img class="portrait" src="/img/user.png">
    </div>

    {{>footer}}
</body>

</html>